header {
    text-align:center;
    background:#B0C8C6;
    height: 40px;
  }

article {
    padding-left: 18%;
    padding-right: 18%;
    padding-top:10px;
    padding-bottom:10px;
    text-align: justify;
    background:#DDECE9;
}
a {
    font-family: "Book Antiqua";
    text-decoration: none;
    background:#DDECE9;
    color: #000080;
}

footer {
    clear:both;
    background:#6A9CBD;
}
footer p{
  font-size:14px;
  text-align:center;
}

.side_right {
    padding: 10px; /* Поля */
    width: 15%; /* Ширина сайдбара */
    float: right; /* Обтекание слева */
}
.side_right h2{
    color:blue;
}
   
.side_left{
    padding: 10px; /* Поля */
    width: 15%; /* Ширина сайдбара */
    float: left; /* Обтекание слева */
    height: 100%;
}
.side_left h2{
	text-align: center;
	color:red;
}
table {
    border: solid 1px;
    border-collapse: collapse;
}

td {
    border: solid 1px;
    padding: 5px;
    padding-bottom: 10px;
}